/* Building Blocks */

p.helloworld {
    color: red;
}
ul{
    padding-top: 1em;
    padding-bottom: 1em;
    border: solid;
    border-width: 2px;
    border-color: red;
    box-shadow: 2px 2px darkred;
}

article *:first-child {
    font-weight: bold;
}

#password {
    font-weight: bold;
    border-bottom: dotted;
    border-color: hotpink;
    width: 50%;
}

/* "../GLO.md" */

a[title="hell"] {
    color: red;
    border-style: solid;
    border-color: darkred;
    box-shadow: 2px 2px darkred;
}
a[title="hell"]:hover{
    color:darkred;
    box-shadow: -2px -2px darkred;
}

.longtext:hover::first-line {
    color: gray;
    text-shadow: 1px 1px 2px black;
    
}
.box::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    border: 1px solid black;
    margin: 100px 0px 100px 0px;
}
.box::after {
    content: " This should be after the other content.";
}
